#whole{
    width: 100%;
    height: 710px;
    /* background: rgb(245, 245, 245); */
    background-image: url("../image/bg.jpg");
}
#headline{
    width: 100%;
    height: 66px;
    background: #fff;
}
#login{
    width: 100px;
    height: 100%;
    background: #fff;
    float: right;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -65px;
    left: -36px;
}
#registered{
    width: 100px;
    height: 100%;
    background: #fff;
    float: right;
    text-align: center;
    line-height: 60px;
    position: relative;
    top: -65px;
    left: -36px;
}
.logi{
    font-size: 20px;
    color: #ccc;
    transition: color 1s ease;   
}
.logi:hover{
    color: rgb(133, 133, 133);
}
.reg{
    font-size: 20px;
    color: #ccc;
    transition: color 1s ease;
}
.reg:hover{
    color: rgb(133, 133, 133);
}
#foot{
    width: 900px;
    height: 110px;
    margin: 0 auto;
    background: #fff;
}
.footie{
    width: 100%;
}





#bottom{
    width: 900px;
    height: 470px;
    margin: 0 auto;
    position: relative;
    top: -30px;
    background-color: white;
}
#leftpart{
    width: 550px;
    height: 370px;
    border-right: 1px solid rgb(204,204,204); 
    background-color: white;
    position: relative;
    top:25px;
}
.log{
    width: 300px;
    height: 0px;
}
.meilishuo{
    height: 1px;
    font-size: 30px;
    font-family: 微软雅黑;
    color: #ccc;
    position: relative;
    left: 120px;
    top: -0px;
}
.line{
    width: 400px;
    height: 5px;
    background-color: white;
    border-top:  1px dashed rgb(204,204,204); 
    position: relative;
    left: 120px;
    top: 80px;
}
.under{
    position: relative;
    top: 150px;
}
.fir{
    width: 250px;
    height: 30px;
}
.assignment{
    position: relative;
    top: -80px;
    left: 180px;
}
.zhanghao{
    color: #ccc;
    position: relative;
    top: -50px;
    left: 120px;
}
.mima{
    color: #ccc;
    position: relative;
    left: 120px;
    top: -50px;
}
.sec{
    width: 250px;
    height: 30px;
}
.password{
    position: relative;
    top: -70px;
    left: 180px;
}
.check{
    position: relative;
    top:-50px;
    left: 120px;
}
.remember{
    color: #ccc;
    font-size: 15px;
    position: relative;
    left: 150px;
    top: -75px;
}
.click{
    font-size: 20px;
    color: white;
    position: relative;
    left: 35px;
    top: 5px;
}
.sure{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: cadetblue;
    position: relative;
    top: -50px;
    left: 120px;
    transition: width 1s ease,background 1s ease;
}
.sure:hover{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: cadetblue;
}
.forget{
    color: cadetblue;
    position: relative;
    top: -80px;
    left: 250px;
    transition: width 1s ease,background 1s ease;
}
.forget:hover{
    color:red;
}
.rightpart{
    width: 400px;
    height: 370px;
    background-color:black;
}
.still{
    position: relative;
    top: -300px;
    left: 580px;
    font-size: 20px;
    color: #ccc;
}
.imm{
    font-size: 20px;
    color: cadetblue;
    position: relative;
    left: 700px;
    top: -347px;
    transition: width  1s ease,background 1s ease;
}
.imm:hover{
    color: pink;
}
.also{
    color: #ccc;
    font-size: 15px;
    position: relative;
    top: -320px;
    left: 580px;
}
.sprint{
    position: relative;
    left: 580px;
    top:-310px;
}
.search{
    position: relative;
    left: 900px;
    top: -102px;
}
.tips{
    width: 230px;
}