*{
    padding: 0;
    margin: 0;
}
#all{
    margin: auto;
    height: 960px;
    width: 1263px;
    /* background-color: darkolivegreen; */
}
#goto{
    width: 100%;
    height: 80px;
}
#goto>:first-child{
    display: inline-block;
    position: relative;
    left: 200px;
    top: 8px;
}
.p1{
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 220px;
    top: -15px;
    margin-left: 20px;
    color: rgb(1, 36, 21);
}
.p2{
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 730px;
    top: -15px;
    margin-left: 20px;
    color:  rgb(1, 36, 21);
}
.p1:hover{
    color: rgb(255,149,120);
    transition: all 0.5s;
}
.p2:hover{
    color: rgb(255,149,120);
    transition: all 0.5s;
}
#contect{
    height: 450px;
    width: 80%;
    background-color: white;
    margin: 0 auto;
}
#left{
    height: 100%;
    width: 55%;
}
#right{
    height: 100%;
    width: 45%;
    position: relative;
    left: 556px;
    top: -750px;
}
#line{
    height: 300px;
    width: 3px;
    background-color: rgb(216, 213, 213);
    position: relative;
    left: 553px;
    top: -420px;
}
.top{
    width: 75%;
    height: 100px;
    border-bottom: 1px dashed rgb(167, 167, 167);
    position: relative;
    left: 20%;
}
.word{
    font-family: 黑体;
    font-size: 27px;
    color: rgb(71, 71, 71);
    position: relative;
    top: 50px;
}
.title{
    color: rgb(108, 108, 108);
    width: 200px;
    height: 30px;
    position: relative;
    left: 100px;
    top: 50px;
}
.pass{
    color: rgb(108, 108, 108);
    width: 200px;
    height: 30px;
    position: relative;
    top: 120px;
    left: -160px;
}
.check{
    height: 15px;
    width: 15px;
    position: relative;
    left: -420px;
    top: 192px;
}
.remember{
    display: inline-block;
    height: 20px;
    width: 200px;
    font-size: 13px;
    color: rgb(108, 108, 108);
    position: relative;
    left: 130px;
    top: 148px;
}
#now{
    border-radius: 7px;
    height: 45px;
    width: 130px;
    position: relative;
    left: -95px;
    top: 200px;
}
.now{
    font-size: 12px;
    color: white;
}
.forget{
    color: rgb(255, 116, 161);
    font-size: 15px;
    position: relative;
    left: -90px;
    top: 200px;
}
.forget:hover{
    color: rgb(252, 26, 105);
    cursor: pointer;
}
.use{
    position: relative;
    top: 80px;
    left: 40px;
}
#lo{
    color: rgb(255, 116, 161);
    position: relative;
    top: 80px;
    left: 45px;
}
#lo:hover{
    cursor: pointer;
    color: rgb(250, 25, 104);
}
.other{
    position: relative;
    top: 115px;
    left: -160px;
    font-size: 13px;
}
.qiguai{
    height: 100px;
    width: 280px;
    background-image: url(../img/qiguai.png);
    background-repeat: no-repeat;
    position: relative;
    left: 40px;
    top: 170px;
}
#foot{
    height: 430px;
    width: 100%;
    background-color: rgb(211, 208, 208);
}
.lia{
    font-size: 25px;
    position: relative;
    left: 580px;
    top: 100px;
}
.weil{
    font-size: 13px;
    position: relative;
    left: 250px;
    top: 120px;
}
.yek{
    font-size: 13px;
    position: relative;
    left: -110px;
    top: 135px;
}
#ema{
    width: 430px;
    height: 38px;
    position: relative;
    left: 350px;
    top: 170px;
    outline: none;
}
.ii{
    color: white;
    font-family:微软雅黑;
    font-size: 16px;
    position: relative;
    left: 23px;
    top: 10px;
    cursor: pointer;
}
#il{
    height: 42px;
    width: 80px;
    background-color: rgb(111,113,120);
    position: relative;
    left: 784px;
    top: 128px;
}
.qi{
    height: 22px;
    width: 22px;
    background-image: url(../img/21.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 160px;
    left: 470px;
}
.ge{
    height: 22px;
    width: 23px;
    background-image: url(../img/23.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 590px;
    top: 138px;

}
.disan{
    height: 22px;
    width: 23px;
    background-image: url(../img/22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 535px;
    top: 115px;
}
.disi{
    height: 22px;
    width: 23px;
    background-image: url(../img/24.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 95px;
    left: 650px;
}
#end{
    width: 100%;
    height: 55px;
    position: relative;
    top: -100px;
}
.n20{
    font-size: 15px;
    font-family: 微软雅黑;
    position: relative;
    left: 220px;
}
.back{
    color: rgb(255,149,120);
    text-decoration: none;
    font-size: 15px;
    font-family: 微软雅黑;
    position: relative;
    left: 800px;
}
.back:hover{
    color: rgb(233, 122, 92);
    transition: all 0.3s;
}