*{
    padding: 0;
    margin: 0;
}
.all{
    height: 540px;
    width: 840px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-260px 0 0 -420px ;
    background-color: slategray;
}
.headl{
    background-image:url(img/新世界.png);
    background-repeat:no-repeat;
    background-size: 560px 280px;
    height: 280px;
    width: 560px;
}
.headr{
    height: 280px;
    width: 280px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 560px;
    top: -280px;
}
.footl{
    height: 260px;
    width: 280px;
    position: relative;
    top: -280px;
}
.footc{
    height: 260px;
    width: 280px;
    background-color: #fff;
    position: relative;
    top: -540px;
    left: 280px;
}
.over{
    height: 260px;
    width: 30px;
    background-color: darkslateblue;
    position: relative;
    top: -800px;
    left: 560px;
}
.tr{
    height: 0;
    width: 0;
    border-top: 15px solid rgba(0,0,0,0);
    border-left: 15px solid rgb(255, 255, 255);
    border-right: 15px solid rgba(0,0,0,0);
    border-bottom: 15px  solid rgba(0,0,0,0);
    position: relative;
    top: 120px;
    z-index: 999;
}
.footr{
    height: 260px;
    width: 280px;
    background-image:url(img/火车.png);
    background-repeat:no-repeat;
    background-size: 100% 260px;
    position: relative;
    top: -1060px;
    left: 560px;
}
.footr1{
    height: 260px;
    width: 280px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
    top: -1320px;
    left: 560px;
}
.over1{
    height: 260px;
    width: 30px;
    background-color: rgba(0,0,0,0);
    position: relative;
    left: 530px;
}
.tr1{
    height: 0;
    width: 0;
    border-top: 15px solid rgba(0,0,0,0);
    border-left: 15px solid rgba(0,0,0,0);
    border-right: 15px solid rgba(252, 252, 252, 255);
    border-bottom: 15px  solid rgba(0,0,0,0);
    position: relative;
    top: 120px;
    z-index: 1000;
}
.word{
    font-size: 20px;
    font-family: 方正书雅宋简;color: #000000;
    position: relative;
    top: 50px;
    left: 90px;
}
.red{
    color: red;
}
.new{
    font-size: 12px;
    font-family: 黑体;color:rgb(145,145,145);
}
#new{
    width: 240px;

    position: relative;
    top: 70px;
    left: 23px
}
.around{
    height:30px;
    width: 90px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 85px;
    left: 85px;
    border: 1px solid red;
    margin:0 auto;
    margin-left: 20px;
    transition: all 1s;
}
.ok:hover{
    width:90px; 
    font-family: 方正书雅宋简;color: rgb(252, 252, 252);
    background-color:rgb(233, 21, 21);
}
.click{
    font-size: 12px;
    font-family: 方正书雅宋简;color: rgb(255, 0, 0);
    position: relative;
    left: -20px;
    top: 2px;
    transition: width 5s,color: rgb(255, 0, 0);
    z-index: 888;
}
.ko{
    position: relative;
    left: 20px;
    top: 5px;
}
#cir{
    height: 8px;
    width: 8px;
    border-radius: 8px;
    border: 1px solid rgb(145,145,145);
    transition: width 5s,color: #fff;
}
.ch:hover{
    width: 8px;
    background-color:rgb(145,145,145);
}

.circle1{
    position: relative;
    top: 100px;
    left: 103px;
}
.circle2{
    position: relative;
    top: 90px;
    left: 123px;
}
.circle3{
    position: relative;
    top: 80px;
    left: 143px;
}
.footl{
    background-color: rgb(232,83,79);
}
.world1{
    font-size: 35px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: -250px;
    left: 230px;
}
.world2{
    font-size: 80px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: -180px;
    left:75px;
}
.world3{
    font-size: 15px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: -150px;
    left: -70px;
}
.world4{
    font-size: 15px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: -122px;
    left: -164px;
}
.time{
    font-size: 15px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: 43px;
    left: 102px;
}
.us{
    font-size: 15px;
    font-family: 方正书雅宋简;color: #fff;
    position: relative;
    top: 70px;
    left: 20px;
}
.line{
    width: 40px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    position: relative;
    top: 90px;
    left: -16px;
    transition: width 1s;
}
.footl #change:hover 
.line{
    width: 80px;
}
.alknow{
    height:30px;
    width: 90px;
    background-color: rgb(232,83,79);
    position: relative;
    top:45px;
    left: 85px;
    border: 1px solid #fff;
    margin:0 auto;
    margin-left: 20px;
    transition: all 1s;
}
.ook:hover{
    width:90px; 
    font-family: 方正书雅宋简;color: rgb(252, 252, 252);
    background-color:rgb(235, 45, 45);
}
.look{
    font-size: 12px;
    font-family: 方正书雅宋简;color: rgb(255, 255, 255);
    position: relative;
    left: -23px;
    top: 80px;
    transition: width 5s,color: rgb(255, 0, 0);
    z-index: 888;
}
.know{
    position: relative;
    left: 20px;
    top: 5px;
}
#last{
    font-size: 15px;
    font-family: 方正书雅宋简;color: #000000;
}
.bring{
    position: relative;
    top: 43px;
    left: 107px; 
}
.love{
    position: relative;
    top: 70px;
    left: 25px;
}
.line1{
    width: 40px;
    height: 1px;
    background-color: rgb(145,145,145);
    margin: 0 auto;
    position: relative;
    top: 90px;
    left: -2px;
    transition: width 1s;
}
#change1:hover 
.line1{
    width: 80px;
}
.ook1{
    position: relative;
    left: 95px;
    background-color: #fff;
    border: 1px solid rgb(232, 83, 79);
}
.alknow1{
    height:30px;
    width: 90px;
    color: rgb(232, 83,79);
    position: relative;
    left:118px;
    top: 45px;
    transition: all 1s;
}
.know1{
    position: relative;
    top: 5px;
    left: 20px;
}
.ook1:hover{
    width:90px; 
    font-family: 方正书雅宋简;color: rgb(252, 252, 252);
    background-color:rgb(232, 83, 79);
}